.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 1);
  /* width: 160px; */
  color: aliceblue;
  height: 200px;
  background-color: #021517;
  cursor: cell;
  transition: 0.3s all ease-in-out;
}
.container:hover {
  box-shadow: 0px 2px 19px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 2px 19px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 2px 19px 0px rgba(0, 0, 0, 1);
  transform: scale(1.05);
  /* transform: skewY(5deg); */
}

.container h3 {
  color: #ffbd59;
  color: #ebebeb;
}
